<ion-view view-title="">
  <ion-content>
    <div class="Perfil">
       
        <div class="Perfil-header">
            <div class="Perfil__header" style="background:url({{restaurante.imgProfile}})no-repeat center;">
            <div class="Perfil__header-title">
            <h2>{{restaurante.name}}</h2>
            <p>{{restaurante.lema}}</p>
            </div>
            <div class="Perfil__header-tool">
            <a href="#" class="subdued" ng-click="onLike()">
            <i class="ion-android-favorite-outline"> </i>{{restaurante.likes}}
            </a>
            <a href="#" class="subdued">
            <i class="ion-android-chat"> </i> {{restaurante.comments}}
            </a>
            </div>              
            </div>
            <div class="Perfil__header-detail">
                <div class="row">
                    <div class="col col-50 col-offset-10">
                        <div class="button button-small button-balanced" ng-if="restaurante.ranking != 0">
                        {{(restaurante.ranking * 100).toFixed(2)}}
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col col-offset-10">
                        <div class="button-bar">
                        <div ng-if="session==true">
                            <div ng-if="like.$value == null">
                                <button class="button button-small button-outline button-assertive" ng-click="onLike()">
                                    <i class="ion-android-favorite-outline"></i> Favorito
                                </button>                                
                            </div>
                            <div ng-if="like.$value != null">
                                <div class="button button-small button-outline button-assertive" ng-click="onDislike()">
                                    <i class="ion-android-favorite"></i>
                                </div>
                            </div>
                        </div>            
                        <div ng-if="session==false && state==false">
                            <div class="button button-small button-outline button-assertive">
                                <i class="ion-android-favorite-outline"></i>
                            </div>
                        </div>

                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- ./row -->
            </div>
  
            <div class="Perfil__header-info">
                <div class="list">

                    <div class="item item-divider">Información</div>
                    
                    <div class="item range range-positive" ng-if="session==true"> 
                        <i class="ion-android-star-outline"></i>
                        <input type="range" name="volume" min="0" max="100" value="0" ng-model="data.volume">
                        <i class="ion-android-star"></i>
                    </div>

                    <div class="item item-icon-left" href="#">
                        <i class="icon ion-android-call"></i> <p>{{restaurante.phone}}</p> 
                    </div>
                        <!-- ./item -->
                    <div class="item item-icon-left address">
                        <i class="icon ion-earth"></i> <p>{{restaurante.address}}</p>
                    </div>
                </div>
                <!-- ./list -->
            </div>
            <!-- ./Perfil__header-info -->
        </div>


        <div class="Perfil-body">
            <div class="Perfil-Comments">
                <div class="items">
                    <div ng-if="restaurante.events != null ">
                        <div class="item item-divider">Eventos</div>   
                        <div class="item item-icon-left address">
                            <i class="icon ion-earth"></i> <p>{{restaurante.events}}</p>
                        </div>                     
                    </div>
                    <div class="item item-divider">Comentarios</div>
                </div>
                <!-- Comentarios -->
                <div class="Perfil__Comments-body">
                    <div class="list">
                        
                        <div class="item item-input-inset" ng-if="session === true">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="Comenta" ng-model="menssage">
                            </label>
                            <button class="button button-small button-balanced" 
                                ng-click="onComment(menssage)">
                              Enviar
                            </button>
                        </div>

                        <div class="comentarios" ng-repeat="comentario in restaurante.comentarios">
                            <div class="item item-avatar item-thumbnail-left">
                                <img src="img/user{{img}}.png" class="" alt="">
                                <h2>{{comentario.user}}</h2>
                                <p>{{comentario.mensaje}}</p>
                            </div>
                        </div>

                    </div>
                    <!-- ./list -->
                </div>
                <!-- ./Perfil_Comments-body -->
            </div>
        </div>
        
        <div class="Perfil-footer">            
        </div>

    </div>
  </ion-content>
</ion-view>
