<ion-view view-title="Favoritos">
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="query">
			</label>
		</div>
		<ion-list>
		<div ng-if="session==true">
			
            <ion-item class="item item-thumbnail-left" ng-repeat="restaurante in restaurantes | filter: query"
		 href="#/tab/likes/{{restaurante.idr}}">
			<img ng-src="{{restaurante.Imagen}}">
			<h2>{{restaurante.nombre}}</h2>            	
            </ion-item>
            
		</div>
		</ion-list>
	</ion-content>
</ion-view>
