<ion-view view-title="Cuenta">
  <ion-content>
    <ion-list>
        
      <div ng-if="session === true">
        <div class="list">

            <a class="item item-avatar" href="#">
              <img src="img/user{{img}}.png">
              <h2>{{datauser.user}}</h2>
              <p>Estudiantes de la UDB.</p>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon ion-email"></i>
              {{datauser.email}}
            </a>
            <div class="row">
              <div class="col col-50"></div>
              <div class="col">
                <button class="button button-assertive" ng-click="onSingOut()"> Cerrar Sessión </button>
              </div>
            </div>

        </div>
      </div>
      
      <div ng-if="session === false">

        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Email" ng-model="email">
        </label>

        <label class="item item-input item-stacked-label">
          <input type="password" placeholder="Contraseña" ng-model="password">
        </label>

        
        <div class="padding">        
            <button class="button button-full button-balanced" ng-click="onSingIn(email,password)"> Iniciar Sessión </button>
            <button class="button button-full button-Facebook" ng-click="onSingUpFacebook()"> Iniciar con Facebook</button>
            <a class="button button-full button-stable" href="#/tab/newuser"> Registrarme </a>
        </div>

      </div>


    </ion-list>
  </ion-content>
</ion-view>
