<ion-view view-title="fanfood">
  <ion-content class="">
<!--   Lista de restaurantes -->
    <div class="list"> 
    
     <div class="card" ng-repeat="restaurante in restaurantes">         
      <a href="#/tab/home/{{restaurante.$id}}" class="item item-avatar">
        <img ng-src="{{restaurante.imgProfile}}">
        <h2>{{restaurante.name}}</h2>
        <p>{{restaurante.stitle}}</p>
      </a>

      <div class="item item-image">
        <img ng-src="{{restaurante.imgPost}}">
      </div>      
      
       
           <div class="row item  assertive padding">
               <div class="col col-50"></div>
               <div class="col">                   
                    <a href="#" class="subdued" ng-click="onLike()">
                        <i class="ion-android-favorite-outline"> </i>{{restaurante.likes}}
                    </a>
                    <a href="#" class="subdued">
                     <i class="ion-android-chat"> </i> {{restaurante.comments}}
                    </a>
        <!-- Enlace para observar el detalle de restaurante -->
                    <a href="#/tab/home/{{restaurante.$id}}" class="subdued">
                      <i class="ion-eye"> </i>
                    </a>
                    
               </div>
           </div>
        
     </div>

    </div>
<!--   Lista de restaurantes -->
  </ion-content>
</ion-view>
