<ion-view view-title="Buscar">

	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="query">
			</label>
		</div>

		<ion-list>

            <ion-item class="item-avatar item-icon-right" ng-repeat="restaurante in restaurantes | filter: query"
		 href="#/tab/search/{{restaurante.$id}}">

			<img ng-src="{{restaurante.imgProfile}}">
			<h2>{{restaurante.name}}</h2>
            <p>{{restaurante.lema}}</p>
            	
            </ion-item>
		</ion-list>
	</ion-content>


</ion-view>