<ion-view view-title="FanFood">
  <ion-content>
    <ion-list>

        <div class="item" style="text-align:center;" ng-if="dataSession['state'] === success">
          <div class="button button-outline button-balanced center">
            Registro Exitoso
          </div>
        </div>
      
        <label class="item item-input item-stacked-label" >
          <input type="text" placeholder="Usuario" ng-model="username">
        </label>
        
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Email" ng-model="email">
        </label>

        <label class="item item-input item-stacked-label">
          <input type="password" placeholder="Contraseña" ng-model="password">
        </label>
        
        <div class="padding">
            <button class="button button-full button-positive" ng-click="onSingUp(username,password,email)"> Registrarme </button>      
            <button class="button button-full button-Facebook" ng-click="onSingUpFacebook()"> Registrarme con Facebook</button>
  
        </div>

      </div>

    </ion-list>
  </ion-content>
</ion-view>
