<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- <ion-footer-bar> -->
<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">
    
  <!-- Dashboard Tab -->
  <ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  

  <!-- Chats Tab -->
  <ion-tab title="Favoritos" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="#/tab/likes">
    <ion-nav-view name="tab-likes"></ion-nav-view>
  </ion-tab>
  
    <!-- Search tab -->
    <ion-tab title="Buscar" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Cuenta" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
<!-- </ion-footer-bar> -->