/* Empty. Add your own CSS if you like */
a{
    text-decoration: none;
}
.button-Facebook{
    background: #3b5998;
    color: #F2F2F2;
}
.button-Facebook:hover{
    background: #808080;
    color: #e2e2e2;
}
.Perfil-header{
    background: #FFF;
    display: block;
    position: relative;
    width: 100%;
}
.Perfil-header .Perfil__header{
    background: #e6e6e6;
    padding: 1em 3em;
    display: block;
    position: relative;
    margin:  auto;
    height: 330px;    
}
.Perfil-header .Perfil__header-img img{
    border: 2pt solid #387ef5;
    border-radius: 5em;
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}
.Perfil-header .Perfil__header-title{
    background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, #191919); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #191919); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #191919); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent,#191919);/* Standard syntax */
    bottom: 0;
    color: #b7b7b7;
    display: block;
    position: absolute;
    padding: 50px;
    left: 0;
    width: 100%;
}
.Perfil-header .Perfil__header-tool{
    bottom: 20px;    
    position: absolute;
    font-size: 13pt;
    right: 40px;
}
.Perfil-header .Perfil__header-tool a{
    color: #c9c9c9;
    font-size: 12.5pt !important;
}
.Perfil-header .Perfil__header-tool a i{
    color: #387ef5;    
    font-size: 13pt !important;
}
.Perfil-header .Perfil__header-title h2{
    color: #d9d9d9;
    font-size: 16pt !important;
    width: 100%;
    text-align: left;
    margin: 5px auto;
}
.Perfil-header .Perfil__header-title p{
    font-size: 12.5px;
    line-height: 1.4;
    text-align: left;
}
.Perfil__Comments-title{
    padding: 5px 10px;
    background: #d9d9d9;
}
.Perfil__Comments-title h4{
    color: #0c60ee;
}
.Perfil__Comments-body img{
    margin-left: 15px;
    width: 50px !important;
    height: 50px !important;
}
.Perfil__Comments-body .item-thumbnail-left{
    padding-left: 90px !important;
    min-height: 80px !important;
}
.comentarios p{
    white-space: pre-wrap;
}
.address p{
    display: block;
    position: relative;
    width: 100% !important;
    white-space: pre-wrap;
}
/*
    author @codemario
    [20-06-2016]
*/
